{{ 'component-quote-slider.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle-10.2.0.min.css' | asset_url | stylesheet_tag }}

<script
  src="{{ 'swiper-bundle-10.2.0.min.js' | asset_url }}"
  defer="defer"
></script>

<script src="{{ 'quote-slider.js' | asset_url }}" defer="defer"></script>

<style>
  quote-slider {
    --swiper-navigation-color: white;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 5px;
    --swiper-preloader-color: rgb(239, 91, 158);
  }
</style>

<quote-slider>
  <div class="page-width">
    <div class="swiper">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="quote-slider__img-container">
              <img
                src="{{ block.settings.img | image_url }}"
                srcset="
                  {%- if block.settings.img.width >= 270 -%}{{ block.settings.img | image_url: width: 270 }} 270w,{%- endif -%}
                  {%- if block.settings.img.width >= 550 -%}{{ block.settings.img | image_url: width: 550 }} 550w,{%- endif -%}
                  {{ block.settings.img | image_url }} {{ block.settings.img.width }}w
                "
                sizes="
                  (max-width: 270px) 270px,
                  (max-width: 550px) 550px,
                  {{ block.settings.img.width }}px
                "
                height="auto"
                width="auto"
                loading="lazy"
                alt="{{ block.settings.alt | escape }}"
              >
            </div>

            {%- if block.settings.quote != blank -%}
              <blockquote>
                <p>{{ block.settings.quote }}</p>

                {%- if block.settings.quote_source -%}
                  <footer>- {{ block.settings.quote_source }}</footer>
                {%- endif -%}
              </blockquote>
            {%- endif -%}

            <div class="swiper-lazy-preloader"></div>
          </div>
        {%- endfor -%}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</quote-slider>

{% schema %}
{
  "name": "Quote slider", // TODO: ii18n
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide", // TODO: ii18n
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image" // TODO: ii18n
        },
        {
          "type": "text",
          "id": "alt",
          "label": "Alt text" // TODO: ii18n
        },
        {
          "type": "text",
          "id": "quote",
          "label": "Quote" // TODO: ii18n
        },
        {
          "type": "text",
          "id": "quote_source",
          "label": "Quote source" // TODO: ii18n
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quote slider", // TODO: ii18n
      "blocks": []
    }
  ]
}
{% endschema %}
